@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1s5ya0');
  src:  url('fonts/icomoon.eot?1s5ya0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1s5ya0') format('truetype'),
    url('fonts/icomoon.woff?1s5ya0') format('woff'),
    url('fonts/icomoon.svg?1s5ya0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e8b6";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-pinterest-square:before {
  content: "\f0d3";
}
.icon-envelope-square:before {
  content: "\f199";
}
.icon-triangle-left:before {
  content: "\e900";
}
.icon-triangle-right:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}

