body{font-size:15px;font-family: 'Lato', sans-serif;}
a{cursor: pointer;}
.orange-bg{background-color: #ea6a0a;}
.grey-bg{background-color: #ececec;}
.grey-strong-bg{background-color: #565655;}
.yellow-bg{background-color: #f8c85a;}
.brown-bg{background-color: #b5853e;}
.no-padding{padding: 0;}
.no-margin{margin: 0;}
.terms-and-cond{margin: 20px 50px;}
.easy-autocomplete{width: auto !important; }
.font-italic{font-style: italic;}
.font-rs{font-family: 'Roboto Slab', serif;}
.font-lato{font-family: 'Lato', sans-serif;}
.social-networks {margin: 15px 0;}
.social-networks li{float: left; list-style: none;margin-right: 5px;}
.social-networks li a{display: block;}
.social-networks li a:hover,.social-networks li a.selected,.social-networks li a:focus{text-decoration: none;}
.social-networks li a i{font-size: 25px;color: white;}
.social-networks li a i:hover{color: #28292A;}
.row-logo{margin-top: 20px;}
.orange-separator{background-color: #ea6a0a;height: 1px;}
header .navbar-default{background-color: white;border-radius: 0;border: 0;}
/*.navbar-default ul.main-menu li a:hover,.navbar-default ul.main-menu li a.selected, .navbar-default ul.main-menu li a.active{background-color: #ea6a0a;color: white;font-weight: bold;}*/
/* a:hover,.navbar-default ul.main-menu li a.active 
,.navbar-default .navbar-nav>.active> a, .navbar-default .navbar-nav>.active> a:focus, .navbar-default .navbar-nav>.active>a:hover*/
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a.active{background-color: #ea6a0a;color: white !important;font-weight: bold;}

ul.main-menu li a{text-transform: uppercase;font-family: 'Roboto Slab', serif; white-space: normal;}
  
.dropdown-menu{min-width: 600px;border: 0;background: #ea6a0a;}
.dropdown-menu li{width: 33%;float: left;}
.dropdown-menu li a{padding: 8px;color: white;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{background-color: #ea6a0a;}

.inner-addon{position: relative;}
.inner-addon input{padding-left: 30px !important;background-color: #a4a5a6;color: #ffffff !important;border-radius: 15px !important;}
.easy-autocomplete{float: left;}
.inner-addon i.icon-search{position: absolute;padding: 10px;pointer-events: none;left: 0;z-index: 10;color: white;}
.inner-addon .btn-info{background-color: #ea6a0a;border: none;}
.inner-addon .btn-info:hover{background-color: #bd1516;}
.eac-item,.eac-item h3 {font-size:14px;}

.withinpadding{padding: 0;}
.pagination{margin: 50px 0 25px;}
.img-cat{width:60%;}

.video-portada{float: left;}
.page-title {font-size: 32px; font-family: 'Roboto Slab', serif;color: #ea6b13;margin-bottom: 50px;text-transform: uppercase;font-weight: bold;}
.articles-content{padding-top: 50px;padding-bottom: 50px;}
.article-item{margin-bottom: 25px;}
.article-item a{display: block;position: relative;}
.article-item a i:before{font-size: 60px;color: #ffffff;display: none;}
.article-item a:hover i:before{display: inline;position: absolute;top: 44%;left: 42%;z-index: 10;}
.article-description{min-height: 80px;padding: 0 20px;float: left;}
.article-description p{font-size: 18px;text-align: justify;}
.article-description p a{text-align: center;color: #bd1516;font-size: 16px;font-weight: bold;font-family: 'Roboto Slab' serif;}
.articles-content .news-title{font-family: 'Lato', sans-serif;font-size: 24px;color: #ea6b13;font-style: italic;}
.article-item .title-orange{display: none;}

h1.single-new-title{font-size: 55px;color: #ea6b13;font-family: 'Lato', sans-serif;font-weight: bold; font-style: italic;}
.article-full-content {font-size: 16px;}
.article-full-content h3.title-orange{color: #ea6b13;font-size: 20px;font-style: italic;font-weight: bold;}
.article-full-content p.nota-destacada{padding: 5% 8%;border-top: 1px solid #ea6b13;border-bottom: 1px solid #ea6b13;color: #ea6b13;font-style: italic;font-size: 24px;}
.article-controls{position: relative;margin:30px 0;}
.article-controls p{font-family: 'Roboto Slab', serif;font-size: 14px;color: #bdbdbd;}
.article-controls a{text-align: left;padding: 0;font-style: italic;text-transform: uppercase;font-weight: bold;}
.article-controls a:hover{text-decoration: underline;}
.article-controls .btn{color: #ea6b13;font-size: 22px;white-space:normal;padding: 0;} 
.article-controls .btn h3{display: none;}
.article-controls .btn-cat{font-size: 18px;font-style: normal;}

.related-articles{background-color: #f4f4f4;}
.related-articles .article-item {height: 400px; min-height: 400px;}
.related-articles .article-item p{font-size: 16px;text-align: center !important;}
.related-articles .article-item p.read-more{margin-top:15px;text-align: center;}
.related-articles .article-item h4.news-title{font-family: 'Lato', sans-serif;font-size: 20px;color: #ea6b13;font-style: italic;margin: 15px 0;}
.related-articles .article-item h3.title-orange{display: none;}

h3.right-bar-title{color: #ea6b13;font-family: 'Roboto Slab', serif;font-size: 22px; margin-bottom: 50px;}
ol.most-viewed-articles{width: 80%;margin: 0 0 0 20%;list-style-type: decimal;list-style: #bd1516;}
ol.most-viewed-articles li:before{color: #bd1516 !important;}
ol.most-viewed-articles li{margin-bottom: 5px;}
ol.most-viewed-articles li a{font-style: italic;font-family: 'Lato', sans-serif;font-size: 18px;color: #5b5b5f;}
ol.most-viewed-articles li a:hover i:before,ol.most-viewed-articles li a:hover{color: #bd1516;display: inline;}
ol.most-viewed-articles li a i:before{position: absolute;right: 0;margin-top: 0px;color: #bd1516;display: inline;}
.right-separator{background-color: #565655;height: 1px;margin: 30px 0;}

.latest_videos ul li{margin-bottom: 10px;position: relative;}
.latest_videos ul li a i:before{color: #ffffff;font-size: 60px;display: block;position: absolute;z-index: 10;top: 38%;left: 38%;}
.latest_videos ul li a:hover i:before{display: block;}
li.ver-mas-videos{margin-top: 20px;text-align: center;}
li.ver-mas-videos a{color: #bd1516;font-size: 16px;font-style: italic;}

/*.latest_videos ul li a .img-over .icon-container{display: table-cell;vertical-align: middle;}
.latest_videos ul li a .img-over .icon-container i{color: #ffffff;font-size: 30px;}*/
.event-content ul li{text-align: center;margin-bottom: 10px;}
.event-content ul li a{color: #ffffff;text-transform: uppercase;font-family: 'Lato', sans-serif;display: block;padding: 15px;}
.event-content ul li a:hover {color: #ffffff;text-decoration: none;background-color: #bd1516;}
.event-content ul li.ev-first{background-color: #b5853e;}
.event-content ul li.ev-second{background-color: #fdd16d;}
.event-content ul li.ev-third{background-color: #565655;}
/*ul.grid li figure:hover{}*/
.form input{border-radius: 0;padding: 25px 10px;}
.form textarea{border-radius: 0;resize:none;}
.form-title{color: white;font-size: 46px;font-family: 'Roboto Slab', serif;font-weight: bold;margin: 0 5%;}
.form-figcaption{padding: 0;}
.input-container{padding: 25px;}
.input-container h4{margin-bottom: 25px;text-align: center;font-size: 23px;}
.send-btn{width: 100%;border-radius: 0;bottom: 0;position: absolute;padding: 15px 25px;font-size: 20px;}
.send-btn:hover{background-color: #bd1516;color: #ffffff;}
.v-table{display: table;width: 100%;height: 100%;}
.v-table .v-table-cell{display: table-cell;vertical-align: middle;text-align: center;}
.v-table .v-table-cell a{position: relative;right: auto;bottom: auto;background: none;font-size: 35px;}
footer {padding: 40px 0 15px;color: white;}
footer .qp-table{display: table;}
footer .qp-table .qp-table-cell{display: table-cell;vertical-align: middle;}
footer .footer-ul ul{margin: 0;}
footer .footer-ul ul li{list-style: none;margin-bottom: 15px;width: 100%;float: left;}
footer .footer-ul ul li a{color: white;}
footer .footer-ul ul li a i,footer .footer-ul ul li a p{float: left;}
footer .footer-ul ul li a p{margin: 3% 0;}
footer .footer-ul ul li a:hover{text-decoration: none;color: #565655;}
footer .footer-ul ul li a:hover i:before{color: #565655;}
footer .footer-ul ul li i{font-size: 35px; color: white;margin-right: 10px;}
footer .social-networks{width: 83px;margin: 0 auto;}

footer .aviso{margin-top: 10px;}
footer .aviso p a{color: white;font-size: 12px;}
.follow-box{border-right: 1px solid white; border-left: 1px solid white;padding: 25px 15px;}
.btn-greybg{background-color: #28292A;color: white;text-transform: uppercase;font-weight: bold;border-radius: 0;padding: 15px 35px;}
.btn-greybg:hover{color: white;}

.img-responsive{width: 100%;}
.pagination>li>a, .pagination>li>span{color: #a40612;border: 0;font-family: 'Roboto Slab', serif;font-size: 20px;}
.pagination>li>a i:before{font-size: 31px;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{color: #a40612;font-weight: bold;text-decoration: underline;background: none;border: 0;}
/**************************************SLIDER*******************************************/
/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/
/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {position: relative;    }
.fade-carousel .carousel-inner .item {}
.fade-carousel .carousel-indicators > li {margin: 0 5px;background-color: #f39c12; border-color: #f39c12;opacity: .7;border-radius:20px !important;width: 20px;height: 20px;}
.fade-carousel .carousel-indicators > li.active {opacity: 1;}
/********************************/
/*          Hero Headers        */
/********************************/
.hero {position: absolute;top: 50%;right: -20%;z-index: 3;color: #fff;text-align: left;text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h2 {font-size: 70px;font-weight: bold;margin: 0;padding: 0; font-family: 'Lato', sans-serif;font-style: italic;}
.hero p {font-size: 24px; font-family: 'Lato', sans-serif;}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 1s all ease-in-out .1s;
       -moz-transition: 1s all ease-in-out .1s; 
        -ms-transition: 1s all ease-in-out .1s; 
         -o-transition: 1s all ease-in-out .1s; 
            transition: 1s all ease-in-out .1s;    
}
/********************************/
/*            Overlay           */
/********************************/
.overlay {position: absolute;width: 100%;height: 100%;z-index: 2;background-color: #080d15;opacity: .7;}
/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg,.btn.btn-hero {margin: 20px auto;padding: 10px 40px;font-family: 'Lato', sans-serif;border: 0;border-radius: 0;background-color: #f37e00;font-family: 'Roboto Slab', serif;}
.btn-contacto:hover{color: #ffffff;outline: none;background-color: #bd1516;}
.btn.btn-hero:hover,
.btn.btn-hero:focus {color: #ffffff;/*background-color: #1abc9c;*/outline: none;margin: 20px auto;background-color: #bd1516;}
.banner-container-lg{padding: 25px;}
.grid {overflow-y: auto;margin-bottom: 0;padding: 25px;max-width: 1300px;list-style: none;}
.grid li { display: table;position: relative;}
.grid figure { cursor: pointer;display: table-cell;vertical-align: middle;min-height: 400px;height: 450px;position: relative;}
.grid figure h3.franq{margin: 20px 0;font-weight: bold;text-transform: uppercase;}
.grid figure p img{margin: 20px 0;}
.grid figcaption {width: 100%;height: 100%;display: none;position: absolute;top: 0;left: 0;color: #fff;}
.grid figcaption h3 {margin: 0;padding: 0;color: #fff;}
.grid figcaption span:before {content: 'by ';}
.grid figcaption a {padding: 5px 10px;border-radius: 2px;display: inline-block;background: #ed4e6e;color: #fff;}
/* Caption Style 3 */
.cs-style-3 figure {overflow: hidden;}
.grid figure:hover figcaption{display:block !important;-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-name:fadeInUp;animation-name:fadeInUp;}
/********************************/
/*          Media Queries       */
/********************************/
@media (min-width:768px) and (max-width:1025px){
  ul.dropdown-menu{width: 200px !important;min-width: 200px !important;}
  .dropdown-menu li{width: 100%;}
}
@media (min-width:992px) and (max-width:1199px){
  ol.most-viewed-articles li a{font-size: 15px;}
  .hero h2{font-size: 70px;font-style: italic;}
  .form-title{font-size: 35px;}
  h3.right-bar-title{font-size: 18px;}
  footer .social-networks{width: 83px;}
}
@media (min-width:980px) and (max-width:991px){
  .container{width: 100%;}
  ol.most-viewed-articles li a{font-size: 15px;}
  h3.right-bar-title{font-size: 18px;}
  footer .social-networks{width: 83px;}
  .form-title{font-size: 35px;}
}
@media (min-width:768px) and (max-width:979px){
  .container{width: 100%;}
  ol.most-viewed-articles li a{font-size: 15px;}
  /*ul.nav.navbar-nav.main-menu{margin: 0 auto;width: 93%;float: none;}
  form#search-form{float: none !important;width: 39%;margin: 3% auto 0;}*/
  .hero{right: -15%;}
  .hero h2{font-size: 45px;font-style: italic;}
  .hero p{font-size: 16px;}
  .articles-content .news-title{font-size: 22px;}
  .article-description p{font-size: 15px;}
  h3.right-bar-title{font-size: 17px;}
  .right-separator{margin: 5px 0;}
  .latest_videos ul li a i:before{font-size: 50px;top: 33%;left: 35%;}
  .cd-email,.cd-response-success p{font-size: 10px !important;}
  footer .footer-ul ul li i{width: 100%;text-align: center;float: left;}
  footer .footer-ul ul li a p{width: 100%;margin: 0; text-align: center;}
  footer .social-networks{width: 83px;}
  .form-title{font-size: 26px;}
  h1.single-new-title{font-size: 40px;}
  .article-controls p{font-size: 10px;}
  .article-controls .btn{font-size: 14px;}
  .related-articles .article-item h4.news-title{font-size: 18px;}
  .related-articles h3{margin: 30px 0 !important;font-weight: bold;font-size: 20px;}
  .article-description p a{font-size: 15px;}
  .related-articles .article-item{height: auto !important;min-height: 370px;}
}
@media (min-width:560px) and (max-width:767px){
  .row-logo,.row-separator{display: none;}
  header .navbar-default{margin: 30px 0;}
  .navbar-default .navbar-brand{color: #777;padding: 0;width: 40%;height: auto;}
  .navbar-collapse{border-top: 0;}
  ul.main-menu li{border-bottom:1px solid transparent;border-color: #e7e7e7;}
  .navbar-form{border-top: 0;}
  form .inner-addon{width: 50%;margin: 0 auto;}
  form .inner-addon input{width: 85%;float: left;}
  .hero h2{font-size: 30px;font-style: italic;}
  .hero p{font-size: 16px;}
  .btn.btn-lg, .btn.btn-hero{font-size: 12px;}
  .article-item{width: 50%;}
  .articles-content .news-title{font-size: 22px;}
  .article-description p{font-size: 16px;}
  .latest_videos ul li a i:before{top: 45%;left: 45%;}
  .grid li{margin-bottom: 20px;}
  ol.most-viewed-articles li a:hover i:before, ol.most-viewed-articles li a:hover{text-decoration: none;}
  .follow-box{border-right: 0;}
  .frct{margin-top: 20px;}
  footer .social-networks{width: 35%;}
  .footer-ul{padding: 25px 15px;}
  h1.single-new-title{font-size: 30px;}
  .article-full-content h3.title-orange{font-size: 18px;}
  .article-full-content p.nota-destacada{padding: 5%;font-size: 20px;}
  .article-controls .btn{font-size: 14px;}
  .related-articles h3{margin: 30px 0 !important;font-weight: bold;font-size: 20px;}
}
@media (min-width:481px) and (max-width:559px){
  .terms-and-cond{margin: 15px;}
  .row-logo,.row-separator{display: none;}
  header .navbar-default{margin: 30px 0;}
  .navbar-default .navbar-brand{color: #777;padding: 0;width: 40%;height: auto;}
  .navbar-collapse{border-top: 0;}
  ul.main-menu li{border-bottom:1px solid transparent;border-color: #e7e7e7;}
  .navbar-form{border-top: 0;}
  form .inner-addon{width: 60%;margin: 0 auto;}
  form .inner-addon input{width: 85%;float: left;}
  .hero h2{font-size: 30px;margin-bottom: 5px;font-style: italic;}
  .hero p{font-size: 15px;}
  .btn.btn-lg, .btn.btn-hero{margin: 5px 0;font-size: 12px;}
  .btn.btn-hero:hover,.btn.btn-hero:focus{margin: 5px 0;}
  .follow-box{padding: 0;border-right: 0;}
  .frct{margin-top: 20px;}
  h1.single-new-title{font-size: 30px;}
  .article-full-content p.nota-destacada{padding: 5%;font-size: 20px;}
  .article-controls p{font-size: 12px;}
  .article-controls .btn{font-size: 14px;}
  .related-articles h3{margin: 30px 0 !important;font-weight: bold;font-size: 20px;}
  .related-articles .article-item{height: auto;}
  .related-articles .article-item p.read-more{position: relative;width: 100%;}
  li.ver-mas-videos{margin-top: 35px;}
  ul.events{margin-bottom: 30px;}
  .grid li{margin-bottom: 20px;}
  .form-title{font-size: 42px;}
  footer .footer-ul ul li i{width: 100%;text-align: center;float: left;}
  footer .footer-ul ul li a p{width: 100%;margin: 0; text-align: center;}
}
@media (min-width:250px) and (max-width:480px){
  .terms-and-cond{margin: 15px;}
  .row-logo,.row-separator{display: none;}
  header .navbar-default{margin: 30px 0;}
  .navbar-default .navbar-brand{color: #777;padding: 0;width: 40%;height: auto;}
  .navbar-collapse{border-top: 0;}
  ul.main-menu li{border-bottom:1px solid transparent;border-color: #e7e7e7;}
  .navbar-form{border-top: 0;}
  form .inner-addon{width: 100%;margin: 0 auto;}
  form .inner-addon input{width: 85%;float: left;}
  .hero{width: 100%;}
  .hero h2{font-size: 25px;font-style: italic;}
  .hero p{font-size: 15px;}
  .btn.btn-lg, .btn.btn-hero{margin: 0;font-size: 12px;}
  footer .footer-ul ul li i{width: 100%;text-align: center;float: left;}
  footer .footer-ul ul li a p{width: 100%;margin: 0; text-align: center;}
  footer .col-xs-6{width: 100%;margin-bottom: 20px;text-align: center;border: 0;}
  .latest_videos ul li a:hover i:before{top: 40%;left: 42%;}
  h1.single-new-title{font-size: 25px;}
  .article-full-content p{font-size: 15px;}
  .article-full-content p.nota-destacada{padding: 5%;font-size: 17px;}
  .article-controls p{font-size: 12px;}
  .article-controls .btn{font-size: 14px;}
  .related-articles h3{margin: 30px 0 !important;font-weight: bold;font-size: 20px;}
  .related-articles .article-item{height: auto;}
  .related-articles .article-item p.read-more{position: relative;width: 100%;}
  .cd-email{font-size: 14px;}
  .form-title{font-size: 25px;}
  body.qpsp-contactanos .grid li{margin-bottom: 20px;}
  .btn.btn-hero:hover{margin: 0;}
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }  
    .hero{left: 50%; right: 0;}  
}



