{% extends 'base.html' %}
{% load staticfiles %}

{% block bodyclass %}qpsp-home{% endblock %}

{% block title %}{{ new.metatag.titulo }}{% endblock %}
{% block site_title %}{{new.metatag.titulo}}{% endblock %}
{% block site_keywords %}{{new.metatag.keywords}}{% endblock %}
{% block site_description %}{{new.metatag.descripcion|safe}}{% endblock %}

{% block metatags %}
<!--Facebook-->
<meta property="og:url"         content="http://quepadreserpadres.com" />
<meta property="og:type"        content="" />
<meta property="og:title"       content="{{new.metatag.titulo}}" />
<meta property="og:description" content="{{new.metatag.descripcion|striptags|safe}}" />
<meta property="og:image"       content="" />
<!--Twiter-->
<meta name="twitter:card"       value="">
<meta name="twitter:creator"    value="Punk e-Marketing & Consulting">
<meta name="twitter:url"        value="http://quepadreserpadres.com">
<meta name="twitter:title"       value="{{new.metatag.titulo}}">
<meta name="twitter:description" value="{{new.metatag.descripcion|striptags|safe}}" />
<meta name="twitter:image"       value="">
{% endblock %}


{% block content %}
	<section class="single-page-article row">
		<div class="container">
			<div class="col-md-9 col-sm-9 col-xs-12">
				<div class="row no-margin article-full-content">
					{% if new.imagen1 %}
					<img src="/media{{ new.imagen1 }}" class="img-responsive" alt="{{ new.titulo|striptags|safe }}" title="{{ new.titulo|striptags|safe }}">
					{% else %}
					<img src="/media{{ new.imagen_thumbnail }}" class="img-responsive" alt="{{ new.titulo|striptags|safe }}" title="{{ new.titulo|striptags|safe }}">
					{% endif %}
					<h1 class="single-new-title">{{ new.titulo|safe }}</h1>
					<p>{{ new.sumario|safe }}</p><br>
					<p>{{ new.texto1|safe }} <br></p>
					{% if new.imagen2 %}
					<p>
						<img src="/media/{{ new.imagen2 }}" class="img-responsive" alt="{{ new.titulo|striptags|safe }}" title="{{ new.titulo|striptags|safe }}">
					</p>
					{% endif %}
					<p>{{ new.texto2|safe }}</p><br>
					{% if new.destacado1 %}
					<p class="nota-destacada">
						"{{ new.destacado1|striptags|safe }}"
					</p><br>
					{% endif %}
					{% if new.texto3 %}
					<p>{{ new.texto3|safe }}</p><br>
					{% endif %}
					{% if new.imagen3 %}
					<p>
						<img src="/media{{ new.imagen3 }}" class="img-responsive" alt="{{ new.titulo|striptags|safe }}" title="{{ new.titulo|striptags|safe }}">
					</p><br>
					{% endif %}
					{% if new.texto4 %}
					<p>{{ new.texto4|safe }}</p><br>
					{% endif %}
					{% if new.destacado2 %}
					<p class="nota-destacada">
						"{{ new.destacado2|striptags|safe }}"
					</p><br>
					{% endif %}
					{% if new.texto5 %}
					<p>{{ new.texto5|safe }}</p><br>
					{% endif %}
					{% if new.imagen4 %}
					<p>
						<img src="/media{{ new.imagen4 }}" class="img-responsive" alt="{{ new.titulo|striptags|safe }}" title="{{ new.titulo|striptags|safe }}">
					</p><br>
					{% endif %}
					{% if new.texto6 %}
					<p>{{ new.texto6|safe }}</p><br>
					{% endif %}
					{% if new.texto7 %}
					<p>{{ new.texto7|safe }}</p><br>
					{% endif %}
					{% if new.imagen5 %}
					<p>
						<!--p>{{ new.imagen5 }}</p-->
						<img src="/media{{ new.imagen5 }}" class="img-responsive" alt="{{ new.titulo|striptags|safe }}" title="{{ new.titulo|striptags|safe }}">
					</p><br>
					{% endif %}
				</div>
				{% if new.etiquetas %}
				<div class="row no-margin">
					<p>Tags {{ new.etiquetas }}</p>
				</div>
				{% endif %}
				<div class="row no-margin">
					<!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-580540228bede7a1"></script> 
					<!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox"></div>
				</div>
				<div class="row no-margin article-controls">
					<div class="col-md-3 col-sm-3 col-xs-4 no-padding">
						{% if new.get_previous %}
						<p>ARTÍCULO ANTERIOR</p>
						<a href="{%url 'news_detail' new.categoria.slug new.get_previous.slug %}" class="btn btn-prev">
							{{ new.get_previous|safe }}
						</a>
						{% else %}
						{% endif %}
					</div>
					<div class="col-md-6 col-sm-6 col-xs-4 no-padding text-center">
						<p>REGRESAR A:</p>
						<a href="/{{ new.categoria.slug }}" class="btn btn-cat">
							{{ new.categoria.name }}
						</a>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-4 no-padding">
						{% if new.get_next %}
						<p>ARTÍCULO SIGUIENTE</p>
						<a href="{%url 'news_detail' new.categoria.slug new.get_next.slug %}" class="btn btn-next">
							{{ new.get_next|safe }}
						</a>
						{% endif %}
					</div>
				</div>
				<div class="row no-margin related-articles">
					<h3 class="text-center right-bar-title" style="margin-bottom:15px;">TAMBIÉN TE PODRÍAN INTERESAR</h3>
					{% for item in related_news %}
						<div class="col-md-4 col-sm-6 col-xs-12 article-item">
							<a href="{%url 'news_detail' item.categoria.slug item.slug %}">
								<img src="/media{{ item.imagen_thumbnail }}" class="img-responsive">
							</a>
							<div class="article-description">
								<h4 class="text-center news-title">{{ item.titulo|safe }}</h2>
								<p>{{ item.texto1|safe|truncatewords:20 }}</p>
								<p class="text-center read-more"><a href="{%url 'news_detail' item.categoria.slug item.slug %}">LEER MÁS</a></p>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				{% include "rightbar.html" %}  
			</div>
		</div>
	</section>
{% endblock %}
