{% extends 'base.html' %}
{% load staticfiles %}

{% block bodyclass %}qpsp-{{ noticias.categoria.slug }}{% endblock %}
{% block content %}
	<!--section class="slider-content row">
		<div class="container-fluid withinpadding">
			<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">

			  <ol class="carousel-indicators">
			    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
			    <li data-target="#bs-carousel" data-slide-to="1"></li>
			  </ol>
			  
			  <div class="carousel-inner">
			    <div class="item slides active">
			      <div class="slide-1">
			      	<img src="{% static 'imgs/general/banner-home1.jpg' %}" class="img-responsive">
			      </div>
			      <div class="hero col-md-5 col-sm-5">
			        <hgroup>
			            <h2>Lorem Ipsum</h2>        
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			        </hgroup>
			        <button class="btn btn-hero btn-lg" role="button">IR AL ARTÍCULO</button>
			      </div>
			    </div>
			  </div> 
			</div>
		</div>
	</section-->
	<section class="articles-content row">
		<div class="container">
			<div class="col-md-9 col-sm-9 col-xs-12">
				<div class="row">
					<h1 class="text-center page-title">RESULTADO DE BÚSQUEDA</h1>
				</div>
				<!-- <h1>Choose your favorite module</h1> -->
				<div class="row">
					<div class="col-md-12">
						{% for new in results %}
							<div class="col-md-6 col-sm-6 col-xs-12 article-item">
								<a href="{% url 'news_detail' new.slug_category new.slug %}">
									<img src="/media{{ new.imagen_thumbnail }}" class="img-responsive">
								</a>
								<div class="article-description">
									<h2 class="text-center news-title">{{ new.titulo|safe }}</h2>
									<p>{{ new.texto1|safe|truncatewords:20 }}</p>
									<p class="text-center"><a href="{% url 'news_detail' new.slug_category new.slug %}">LEER MÁS</a></p>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				{% if is_paginated %}
				<ul class="pagination">
				{% if page_obj.has_previous %}
				    <li>
				        <span><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></span>
				    </li>
				{% endif %}
				    <li class="">
				        <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
				    </li>
				{% if page_obj.has_next %}
				    <li>
				        <span><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></span>
				    </li>
				{% endif %}
				</ul>
				{% else %}
				    
				{% endif %}
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				{% include "rightbar.html" %}  
			</div>
		</div>
	</section>	
{% endblock %}

