<div class="row no-margin">
	<h3 class="text-center right-bar-title">ARTÍCULOS MÁS LEÍDOS</h3>
	<ol class="most-viewed-articles">
	{% for item in list_most_viewed %}

		<li><a href="{%url 'news_detail' item.categoria.slug item.slug %}">{{item.titulo}} <i class="icon-triangle-right"></i></a></li>
	{% endfor %}
	</ol>
</div>
<hr class="row right-separator">
<div class="row latest_videos no-margin">
	<h3 class="text-center right-bar-title" style="margin-bottom:15px;">VIDEOS</h3>
	<ul>
	{% for video in latest_videos %}
		<li>
			<a href="https://www.youtube.com/watch?v={{ video.id_video }}" class="video">
				<img src="http://img.youtube.com/vi/{{ video.id_video }}/hqdefault.jpg" class="img-responsive">
				<i class="icon-triangle-right"></i>
			</a>
		</li>
	{% endfor %}
		<li class="ver-mas-videos">
			<a href="{% url 'videos_view' %}"><strong>ver todos los videos</strong></a>
		</li>
	</ul>
</div>
<hr class="row right-separator">
<div class="row no-margin">
	<h3 class="text-center right-bar-title" style="margin-bottom:15px;">¿QUIERES RECIBIR LA REVISTA DE MANERA SEMANAL?</h3>
	<div class="cd-form-wrapper cd-container">
		<form class="cd-form">
			<label class="cd-label" for="cd-email">SUSCRÍBETE</label>
			<input type="email" id="cd-email" class="cd-email" name="cd-email" placeholder="Ingresa tu correo electrónico">
			<input type="submit" class="cd-submit" value="ENVIAR">
			<div class="cd-loading"></div>
		</form>
		<input style="display:none" type="radio" id="cd-success" name="cd-message" checked>
		<!--input type="radio" id="cd-error" name="cd-message"-->
		<!--div data-type="message" class="cd-response cd-response-error">Ops! Error message here</div-->
		<div data-type="message" class="cd-response-success"><p>Gracias por suscribirte, ¡pronto recibirás nuevas noticias!</p></div>
		<!--div data-type="message" class="cd-response cd-response-notification">Hey! Notification message here</div-->
	</div>
</div>
<hr class="row right-separator">
<div class="row no-margin">
	{% for banner in section.banner.banneritem_set.all %}
		<a href="{{ banner.slide_url }}" target="_blank">
			<img src="/media/{{ banner.image }}" class="img-responsive">
		</a>
		<br>
	{% endfor %}
</div>
<hr class="row right-separator">
<div class="row event-content no-margin">
	<h3 class="text-center right-bar-title" style="margin-bottom:15px;">QPSP TE INVITA A:</h3>
	<ul class="events">
		<li class="ev-first"><a href="https://www.facebook.com/QPSPacapulco/" target="_blank">ACAPULCO</a></li>
		<li class="ev-second"><a href="https://www.facebook.com/QPSP-Canc%C3%BAn-te-invita-289433958076446/" target="_blank">CANCÚN</a></li>
		<li class="ev-third"><a href="https://www.facebook.com/QPSP-Riviera-Maya-te-invita-1609426432700743/" target="_blank">RIVIERA MAYA</a></li>
	</ul>
</div>
{% block js %}

{% endblock %}