{% extends 'base.html' %}
{% load staticfiles %}

{% block bodyclass %}qpsp-home{% endblock %}
{% block content %}
	<section class="single-page-article row">
		<div class="container">
			<div class="col-md-9 col-sm-9 col-xs-12">
				<div class="row article-full-content terms-and-cond">
					<h1 class="text-center page-title">AVISO DE PRIVACIDAD</h1>
					<p>De conformidad con lo previsto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, su respectivo Reglamento y demás disposiciones aplicables (en lo sucesivo la “Ley”), nos permitimos solicitarle leer cuidadosamente los Términos y Condiciones contenidos en este Aviso de Privacidad, ya que la simple aportación que haga de sus Datos Personales o Datos Sensibles (los cuales tendrán el significado que se les atribuye en el artículo 3° de la Ley) constituye la aceptación de este Aviso</p>
					<p>THE KUROSIWO COMPANY, S.A. de C.V. (el “Responsable”), como propietario de la marca ¡QUÉ PADRE SER PADRES! con domicilio en Avda 10 esquina Calle 20 norte, edificio Atlántida, interior 6, lote 1, Manzana 62, Playa del Carmen 77710, Quintana Roo, en cumplimiento con la Ley, le informa que es responsable de recabar sus datos personales, del uso que se le dé a los mismos y de su protección, por lo que pone a su disposición el presente Aviso de Privacidad.</p>
					<br>

					<h3 class="title-orange">Información a Recabar:</h3>
					<p>Como parte normal de sus actividades mercantiles, y de conformidad con su objeto social lícito, el Responsable recaba y en algunos casos almacena información considerada como Datos Personales.</p>
					<p>Los Datos Personales y/o Datos Sensibles que Usted pueda proporcionar al Responsable, o los que se generen mediante las visitas a nuestros sitios Web, tendrán el uso que en forma enunciativa pero no limitativa se describe a continuación, tratados siempre bajo los principios establecidos en la Ley (licitud, consentimiento, información, calidad, finalidad, lealtad, proporcionalidad y responsabilidad).</p>
					<br>

					<p>Hacemos de su conocimiento que, a fin de relacionarse con el presente sitio web, se le podrán pedir algunos de los siguientes datos:<br>
					Datos de identificación y de contacto: Nombre completo, correo electrónico, correo postal, número de teléfono y fecha de nacimiento; y, Datos patrimoniales y financieros: Número, fecha de expiración, código de verificación, tipo e institución financiera de la tarjeta de crédito o débito del usuario.</p>
					<br>

					<h3 class="title-orange">Uso de la información:</h3>
					<p>Los datos personales que recabamos en el sitio web, los utilizaremos para las siguientes finalidades:<br>
					Para identificar, ubicar, comunicar y contactar al usuario así como para enviarle información y/o mercancía.<br>
					Para uso estadístico y científico; y la transmisión a terceros y socios comerciales por cualquier medio que permita la Ley.<br>
					Para desarrollar, por sí o a través de sus afiliadas o cualquier tercero, estudios sobre los intereses, comportamientos y demografía de los titulares, a efecto de comprender mejor sus necesidades e intereses, y ofrecer mejores servicios o proveerles información relevante.<br>
					Para mejorar nuestras iniciativas y estrategias comerciales y las de terceros con los que tenemos relación comercial y/o jurídica.<br>
					Para analizar las páginas de internet visitadas, las búsquedas efectuadas por los titulares, así como para mejorar nuestra oferta de contenido y artículos, incluyendo personalización, presentación, programación y servicios.<br>
					Para enviar información vía correo electrónico respecto de ofertas, descuentos, o cualquier otro tipo de información comercial.<br>
					Para todos aquellos datos que se recaban por medios distintos a este sitio web, le solicitamos consultar el aviso de privacidad correspondiente, con el objeto de conocer las finalidades de dicha recopilación.</p>

					<h3 class="title-orange">Temporalidad:</h3>
					<p>La temporalidad del manejo de los Datos Personales y/o Datos Sensibles será indefinida a partir de la fecha en que Usted los proporcionó al Responsable, y desde luego Usted podrá oponerse en cualquier momento que lo considere oportuno, para efectos del bloqueo y cancelación de los mismos.</p>

					<h3 class="title-orange">Limitación del uso y divulgación de sus datos:</h3>
					<p>El Responsable tiene el compromiso de resguardar sus datos personales, financieros o patrimoniales bajo estrictas medidas de seguridad físicas, técnicas y administrativas, las cuales han sido implementadas, conforme a la Ley, con el objeto de proteger dichos datos personales contra cualquier daño, pérdida, alteración, destrucción, uso, acceso o tratamiento no autorizados, y buscando, ante todo garantizar la confidencialidad de los datos y asegurarnos de minimizar cualquier riesgo o vulneración que pudiera presentarse.</p>

					<h3 class="title-orange">Transferencia:</h3>
					<p>Tratándose de sus Datos Sensibles, Usted tendrá derecho a que el Responsable le informe sobre cualesquier transferencia que llegare a efectuar de los mismos a cualquier tercero, y para ello le será notificada tal acción por cualquier medio, ya sea escrito, telefónico, electrónico, óptico, sonoro, visual o cualquier otro que la tecnología permita ahora o en lo futuro. De darse el caso, Usted tendrá derecho a oponerse a ello, debiendo seguir el proceso mencionado en el punto inmediato anterior. Sus Datos Personales no sensibles, podrán ser transferidos sin limitación alguna a terceros o socios comerciales, sin necesidad de obtener su consentimiento, dentro o fuera del Territorio Nacional. En el caso de que el Responsable requiera usar sus Datos Personales y/o Datos Sensibles con fines diferentes a los señalados en el presente Aviso de Privacidad, el Responsable contactará con Usted ya sea en forma escrita, telefónica, electrónica, o por cualquier medio óptico, sonoro, visual u otro que la tecnología permita ahora o en lo futuro y le explicará los nuevos usos que pretenda darle a dicha información a fin de recabar su autorización. Tratándose de Datos Sensibles, Usted deberá proporcionar al Responsable su consentimiento expreso y por escrito para su tratamiento, a través de su firma autógrafa, firma electrónica, o cualquier mecanismo de autenticación que al efecto se establezca.</p>

					<h3 class="title-orange">Sus derechos ARCO:</h3>
					<p>Usted tendrá en todo momento el acceso a sus Datos Personales y/o Datos Sensibles, ya sea para solicitar su rectificación, cancelación u oposición de conformidad con lo dispuesto en la Ley (los “Derechos ARCO”), en forma escrita, electrónica o telefónica, dirigiendo su mensaje con atención al Encargado de Protección de Datos Personales de THE KUROSIWO COMPANY S.A. DE C.V. al domicilio detallado en el segundo párrafo, a la dirección electrónica <a href="mailto:privacidad@quepadreserpadres.com">privacidad@quepadreserpadres.com</a>, o al teléfono <a href="tel:+529841095135">984 109 5135</a>, de lunes a viernes de las 9:00 a las 13:00 horas, en días hábiles, según corresponda. Para lo anterior, deberá hacernos saber fehacientemente los Datos Personales y/o Datos Sensibles que Usted desea sean rectificados, cancelados o revisados, así como el propósito para el cual los aportó y el nombre del Responsable a quien se los entregó y, en general, cumplir los requisitos mencionados en el artículo 29 de la Ley.</p>

					<h3 class="title-orange">Uso de cookies y/o contadores de visitas:</h3>
					<p>Las “cookies” son pequeños archivos de texto que un servidor de web envía a su computadora, para que podamos ofrecerle una mejor atención respecto de nuestros productos y/o servicios. Las cookies de una sesión recuerdan la actividad que usted llevó a cabo anteriormente en nuestro sitio web. Las cookies persistentes incluso hacen posible guardar sus preferencias en las diversas sesiones en que visite nuestro sitio web, lo cual nos permite personalizar, por ejemplo, la manera en que dicho sitio ponga a su disposición la información de su interés.</p>
					<p>Los contadores de visita o “web beacons”, son por lo general imágenes gráficas que se ponen en un sitio web para contar el número de visitantes. El uso de web beacons en nuestro sitio web tiene la finalidad de reflejar estadísticas respecto de los productos y/o servicios que son de su interés. Estos contadores de visita normalmente no recopilan información diferente de la que su navegador nos proporciona como parte estándar de cualquier navegación en internet. Si usted eligiera la opción de desactivación de las cookies en su explorador de internet, el contador de visitas no podrá seguir rastreando específicamente su actividad.</p>
					<p>Algunos sitios web o aplicaciones de nuestra página web podrán utilizar objetos almacenados localmente, como son las cookies de Flash o almacenamiento local con HTML5. Este tipo de objetos almacenados localmente se utilizan para fines similares a los de las cookies pero generalmente pueden contener mayor cantidad de datos diferentes a los de las cookies del navegador. Usted puede modificar la configuración de su reproductor Flash mediante el administrador de configuración de conformidad con su preferencia sobre el almacenamiento de objetos locales compartidos, inclusive desactivar objetos locales compartidos solamente para determinados sitios web o desactivar totalmente el almacenamiento de objetos locales compartidos para todos los sitios web.</p>
					<p>La mayoría de los navegadores o exploradores de internet le permiten desactivar o permitir el uso de cookies. También puede eliminar las cookies de su computadora si su navegador se lo permite. Si desactiva las cookies, es posible que usted no pueda usar determinadas partes de nuestro sitio web y que sea necesario reinstalar una cookie de rechazo. En todo caso, usted contará con diversas opciones para limitar el acceso de las cookies y web beacons de nuestro sitio web en su computadora.</p>

					<h3 class="title-orange">Nulidad:</h3>
					<p>En caso de que cualquier cláusula de las presentes sea declarada nula, las demás cláusulas seguirán vigentes y se interpretarán teniendo en cuenta la voluntad de las partes y la finalidad misma del presente Aviso. El Responsable podrá no ejercer alguno de los derechos y facultades conferidos en este documento lo que no implicará en ningún caso la renuncia a los mismos salvo reconocimiento expreso por parte del mismo o prescripción de la acción que en cada caso corresponda.</p>

					<h3 class="title-orange">Cambios al Aviso de Privacidad:</h3>
					<p>El presente Aviso de Privacidad podrá ser modificado en el futuro. En todo caso, cualquier modificación al mismo se hará de su conocimiento mediante la publicación del mismo en la siguiente página web: <a href="http://quepadreserpadres.com/aviso-de-privacidad/">http://quepadreserpadres.com/aviso-de-privacidad/</a>.</p>
					<p>Si usted no manifiesta su oposición, se entiende que ha leído y acepta los términos contenidos en el presente Aviso de Privacidad.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				{% include "rightbar.html" %}  
			</div>
		</div>
	</section>
{% endblock %}
