{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ section.metatag.titulo }}{% endblock %}
{% block site_title %}{{section.metatag.titulo}}{% endblock %}
{% block site_keywords %}{{section.metatag.keywords}}{% endblock %}
{% block site_description %}{{section.metatag.descripcion|safe}}{% endblock %}

{% block metatags %}
<!--Facebook-->
<meta property="og:url"         content="http://quepadreserpadres.com" />
<meta property="og:type"        content="" />
<meta property="og:title"       content="{{section.metatag.titulo}}" />
<meta property="og:description" content="{{section.metatag.descripcion|striptags|safe}}" />
<meta property="og:image"       content="" />
<!--Twiter-->
<meta name="twitter:card"       value="">
<meta name="twitter:creator"    value="Punk e-Marketing & Consulting">
<meta name="twitter:url"        value="http://quepadreserpadres.com">
<meta name="twitter:title"       value="{{section.metatag.titulo}}">
<meta name="twitter:description" value="{{section.metatag.descripcion|striptags|safe}}" />
<meta name="twitter:image"       value="">
{% endblock %}

{% block bodyclass %}qpsp-home{% endblock %}
{% block content %}
	<section class="slider-content row">
		<div class="container-fluid withinpadding">
			<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="3000" id="bs-carousel">
			  <!-- Overlay -->
			  <!--div class="overlay"></div-->
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			  </ol>
			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			  	{% for slide_item in section.section_slide.sectionslideitem_set.all %}
			  		<div class="item slides">
				      <div class="slide-1">
				      	<img src="/media/{{ slide_item.image }}" class="img-responsive" alt="{{ slide_item.titulo|safe }}" title="{{ slide_item.titulo|safe }}">
				      </div>
				      <!--div class="hero col-md-5 col-sm-5">
				        <hgroup>
				            <h2>{{ slide_item.titulo }}</h2>        
				            <p>{{ slide_item.descripcion|safe|truncatewords:12 }}...</p>
				        </hgroup>
				        <a href="{{ slide_item.slide_url }}" style="color:white">
				        	<button class="btn btn-hero btn-lg" role="button">IR AL ARTÍCULO</button>
			        	</a>
				      </div-->
				    </div>
			  	{% endfor %}
			  </div> 
			</div>
		</div>
	</section>
	<section class="articles-content row">
		<div class="container">
			<div class="col-md-9 col-sm-9 col-xs-12">
				<div class="row">
					<h1 class="text-center page-title">VÍDEOS</h1>
				</div>
				<!-- <h1>Choose your favorite module</h1> -->
				<div class="row">
					{% for video in videos %}
						<div class="col-md-6 col-sm-6 col-xs-12 article-item video-item">
							<div class="video-portada">
								<a href="https://www.youtube.com/watch?v={{ video.id_video }}" class="video">
									<img src="http://img.youtube.com/vi/{{ video.id_video }}/hqdefault.jpg" class="img-responsive">
									<i class="icon-triangle-right"></i>
								</a>
							</div>	
							<div class="article-description">
								<a href="https://www.youtube.com/watch?v={{ video.id_video }}" class="video">
								<h2 class="text-center news-title">{{ video.titulo|safe }}</h2></a>
								<p>{{ video.descripcion|safe|truncatewords:20 }}</p>
							</div>
						</div>
						{% if forloop.counter|divisibleby:3 %}
								<div class="col-md-6 col-sm-6 col-xs-12 article-item text-center">
									<img src="{% static 'imgs/general/videos/movie-icon.png' %}" class="img-cat" alt="{{ section.titulo }}" title="{{ section.titulo }}">
								</div>
							{% endif %}
					{% endfor %}
				</div>
				{% if is_paginated %}
				<ul class="pagination">
				{% if page_obj.has_previous %}
				    <li>
				        <span><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></span>
				    </li>
				{% endif %}
				    <li class="">
				        <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
				    </li>
				{% if page_obj.has_next %}
				    <li>
				        <span><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></span>
				    </li>
				{% endif %}
				</ul>
				{% else %}
				    
				{% endif %}
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				{% include "rightbar.html" %}  
			</div>
		</div>
	</section>	
{% endblock %}

{% block js %}
<script type="text/javascript">
$('.carousel .carousel-inner .item:eq(0)').addClass('active');
for (var i=1; i<=$("#fullpageservices").children().length;i++)
{
    var parimpar ="par";
    if(i%2){
        parimpar = "impar";
    }
    $('#fullpageservices .fp-tableCell .items:eq('+(i-1)+')').addClass('row-'+parimpar);
}
//alert('{{section.section_slide.sectionslideitem_set.all.count}}');
var slide_length = '{{section.section_slide.sectionslideitem_set.all.count}}';
for ( var i = 0; i < slide_length; i++ ){
	$('.carousel-indicators').append('<li data-target="#bs-carousel" data-slide-to="'+i+'" class=""></li>');
}
$('ol.carousel-indicators li:eq(0)').addClass('active');
</script>
{% endblock %}
